.tool-wrapper {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  background-color: #f4f4f4;
}
.center-content {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.swindle-info {
  color: #444;
  font-size: 12px;
  margin-left: 20px;
  padding: 0 1px;
  height: 32px;
  overflow: hidden;
}

.swindle-info .icon-note {
  display: inline-block;
  /*background-image: url(img/sprite.scss.png?t=1508403805399);*/
  background-position: -107px -22px;
  background-size: 123px 122px;
  width: 15px;
  height: 14px;
  margin-top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}
.swindle-info a {
  color: #d71d32;
}
.tool-wrapper .yoho-cert-tip {
  margin-left: 20px;
}
.tool-wrapper .yoho-buy-tools li {
  float: left;
  padding-right: 10px;
  position: relative;
}
.nav-drop-down-container {
  width: 89px;
  box-sizing: border-box;
  position: relative;
}
.tool-wrapper .yoho-buy-tools .tag-seprate {
  width: 0;
  margin-top: 11px;
  margin-right: 12px;
  height: 14px;
  float: left;
  border-left: 1px solid #dcdcdc;
}
.tool-wrapper .yoho-buy-tools .help .iconfont {
  font-size: 14px;
  color: #898989;
  position: relative;
  top: -1px;
}
.yoho-buy-tools ul li{
  float:left;
  display: inline-block;
}
.tool-wrapper.yoho-buy-tools li .hi {
  vertical-align: top;
}
.tool-wrapper.yoho-buy-tools li span {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}
.tool-wrapper.icon-bottomarrow {
  background-position: -64px -86px;
  width: 10px;
  height: 5px;
}
 .tool-wrapper .icon-bottomarrow, .yoho-header .tool-wrapper .icon-papers {
  /*background-image: url(img/sprite.scss.png?t=1508403805398);*/
  background-size: 123px 122px;
  margin-top: -2px;
}
 .tool-wrapper .simple-user-center {
  top: 32px;
  margin-left: -110px;
  width: 300px;
  position: absolute;
  background-color: #f8f8f8;
  z-index: 100;
  display: none;
}
.center-content .yoho-buy-tools li a {
  color: #8e8e8e !important;
}
