<div class="tool-wrapper clearfix" data-role="tool-wrapper">
  <div class="center-content">
    <div class="left swindle-info">
      <span class="icon-exclamation-sign"></span>
      <a href="#" target="_blank">
        关于防诈骗的重要提醒
      </a>
      <p><i class="icon-camera-retro icon-large"></i> icon-camera-retro</p>
    </div>
    <div class="left yoho-cert-tip"></div>
    <div class="yoho-buy-tools right">
      <ul>
        <li id="">
          <span class="hi">Hi~</span>

          <span [ngStyle]="{'display':localUrl==='user'?'inline-block':'none' }">feng</span>
          <!--<span [ngStyle]="{'background-color':localUrl}">feng</span>-->
           <a [ngStyle]="{'display':localUrl==='user'?'none':'inline-block' }" [routerLink]="['/login']" class="loginbar" rel="nofollow">[请登录 ]</a>
         <a [ngStyle]="{'display':localUrl==='user'?'none':'inline-block' }" [routerLink]="['/register']" class="registbar" rel="nofollow"> [ 免费注册]</a>
        </li>
        <li class="myyoho" id="myYohoBox">
          <span class="tag-seprate"></span>
          <a href="#" rel="nofollow">MY有货</a>
          <span class="icon-bottomarrow"></span>
          <div class="simple-user-center"></div>
        </li>
        <li class="myorder">
          <span class="tag-seprate"></span>
          <span class="icon-papers"></span>
          <a href="//www.yohobuy.com/home/orders?t=1453168898.0176" rel="nofollow">我的订单</a>
        </li>
        <li class="mycollect">
          <span class="tag-seprate"></span>
          <span class="icon-heart"></span>
          <a href="//www.yohobuy.com/home/favorite?t=1453168898.0176" rel="nofollow">我的收藏</a>
        </li>
        <li class="message">
          <span class="tag-seprate"></span>
          <span class="icon-mail"></span>
          <a href="//www.yohobuy.com/home/message?t=1453168898.0176" rel="nofollow">消息</a>
        </li>
        <li class="help nav-drop-down-container">
          <span class="tag-seprate"></span>
          <span class="iconfont"></span>
          <a href="#">客户服务</a>
          <!--<ul class="nav-drop-down">-->
            <!--<li>-->
              <!--<a href="//www.yohobuy.com/service/client" target="_blank">在线客服</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="//www.yohobuy.com/help">帮助中心</a>-->
            <!--</li>-->
          <!--</ul>-->
        </li>
        <li class="we-chat download-code">
          <span class="tag-seprate"></span>
          <span class="iconfont"></span>
          <a href="">关注有货</a>
          <!--<div class="download-app-box">-->
            <!--<div class="we-chat-img code-img"></div>-->
            <!--<h5 class="qr-words">微信扫一扫</h5>-->
            <!--<h5 class="qr-words">关注公众号，赢免单</h5>-->
          <!--</div>-->
        </li>
        <li class="phoneapp download-code" id="phoneApp">
          <span class="tag-seprate"></span>
          <span class="icon-phone"></span>
          <a href="//www.yohobuy.com/download/app">手机版</a>
          <!--<div class="download-app-box">-->
            <!--<div class="qr-img code-img"></div>-->
            <!--<h5 class="qr-words">下载手机客户端</h5>-->
            <!--<h5 class="qr-more">-->
              <!--<a href="javascript:void(0);">更多客户端</a>-->
            <!--</h5>-->
          <!--</div>-->
        </li>
      </ul>
    </div>
  </div>
</div>
