<div class="home-page yoho-page girls">
  <div class="tpl-recommend clearfix">
    <div class="floor-header clearfix" floorid="">
      <h2 class="floor-title">热门分类</h2>
      <ul class="header-navs">
        <li data-classify="">
          <a target="_blank" href="http://list.yohobuy.com/?gender=2,3&amp;msort=1">MORE</a>
        </li>
      </ul>
    </div>

    <div class="tpl-body clearfix">
      <div class="tpl-nav">
        <div class="tpl-keywords">
          <a class="keywords0" title="" href="http://vans.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/15/010f8d5f820417826c772fc2e4404d514d.jpg?imageView2/2/w/185/h/76" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/10/13/01860d7b2b151e9124d9c08f4a0449c384.jpg?imageView2/2/w/185/h/76" style="display: block;"></a>
          <a class="keywords1" title="" href="http://chocoolate.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/15/016d28e18bc1cd9ca624a9b8f2647ec525.jpg?imageView2/2/w/185/h/76" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/13/13/01e5b92e183e9e36b18ca6ac797a26d0ef.jpg?imageView2/2/w/185/h/76" style="display: block;"></a>
          <a class="keywords2" title="" href="http://qiumai.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/15/01436249d48c4dacffe1c1d272436edd0c.jpg?imageView2/2/w/185/h/76" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/13/13/017d5ee761f10c9bcf1d1e1b4e8477535f.jpg?imageView2/2/w/185/h/76" style="display: block;"></a>
        </div>

        <div class="tpl-category clearfix">
          <a href="https://list.yohobuy.com/?category_id=51&amp;gender=2,3" target="_blank">棉衣</a>
          <a href="https://list.yohobuy.com/?category_id=55&amp;gender=2,3" target="_blank">夹克</a>
          <a href="https://list.yohobuy.com/?category_id=54&amp;gender=2,3" target="_blank">卫衣</a>
          <a href="https://list.yohobuy.com/?category_id=1210&amp;gender=2,3" target="_blank">毛衣</a>
          <a href="https://list.yohobuy.com/?category_id=1208&amp;gender=2,3" target="_blank">风衣</a>
          <a href="https://list.yohobuy.com/?category_id=1220&amp;gender=2,3" target="_blank">大衣</a>
          <a href="http://list.yohobuy.com/?gender=2,3&amp;msort=1,3&amp;style=991,1107,989" target="_blank">运动风潮</a>
          <a href="http://list.yohobuy.com/?msort=1,3&amp;gender=2,3&amp;style=991,1097,997" target="_blank">暗黑街头</a>
          <a href="http://list.yohobuy.com/?msort=1,3&amp;gender=2,3&amp;style=1104,1102,1003,1096" target="_blank">日韩甜美</a>
          <a href="http://list.yohobuy.com/?gender=2,3&amp;msort=1" target="_blank">MORE</a>
          <a href="http://list.yohobuy.com/?gender=2,3&amp;msort=1" target="_blank"></a>
          <a href="http://list.yohobuy.com/?gender=2,3&amp;msort=1" target="_blank"></a>
        </div>
      </div>

      <div class="tpl-brands imgopacity clearfix">
        <a title="" href="https://list.yohobuy.com/?category_id=54&amp;gender=2,3" target="_blank"><img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/19/15/0116a1aec76299cdefbb1f72a8f123dd36.jpg?imageView2/2/w/377/h/504" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/19/10/01d18fdb7ae45317f02346696caf77ce83.jpg?imageView2/2/w/377/h/504" style="display: block; opacity: 1;"></a>
      </div>

      <div class="tpl-types imgopacity clearfix">
        <ul>
          <li><a title="" href="http://chocoolate.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/15/019a103221f61e394155ca29640628d3f8.jpg?imageView2/2/w/185/h/504" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/19/10/0146e4b66cd84a71f73f20713cd41542c8.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
          <li><a title="" href="http://stayreal.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/15/01fb5d13df68c36729bcc4ae0ea2ca412e.jpg?imageView2/2/w/185/h/504" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/19/10/01557c2b19fa3310b604d92ceb84fb0bc4.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
          <li><a title="" href="http://akop.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/15/01ad26bb7d9f9c0786e35a65a97a1778ed.jpg?imageView2/2/w/185/h/504" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/19/10/011a1a208d1e1749b928e22d94c9ed97e2.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
          <li><a title="" href="http://cheapmonday.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/15/017965926b86f56e175a6508df58f84073.jpg?imageView2/2/w/185/h/504" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/19/10/01508093bd5a5645967d1b55d54ec81d62.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
          <li><a title="" href="http://rococo.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/15/0190fc2b237b17f59559aa31071b23a800.jpg?imageView2/2/w/185/h/504" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/19/10/013a47a22414367afc22701a8f7e89b11d.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
          <li><a title="" href="http://navel.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/15/017db9d8126a4b54f2749df819e0121818.jpg?imageView2/2/w/185/h/504" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/19/10/0151c17ec1d5e1d7a50296db727734f048.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
