<div class="yoho-footer">
  <div class="footerbottom">
    <div class="promise">
      <div class="center-content clearfix">
        <div class="left">
          <span class="pic_area quality_pic"></span>
          <span class="red">100%</span>
          <span class="rgbf">品牌正品</span>
        </div>
        <div class="left">
          <span class="pic_area"></span>
          <span class="red">7天</span>
          <span class="rgbf">无理由退换货</span>
        </div>
        <div class="left">
          <span class="pic_area"></span>
          <a href="" target="_blank">
            <span class="red">便捷</span>
            <span class="rgbf">在线客服</span>
          </a>
        </div>
        <div class="right subscribe footer-right">
          <input id="subscriber-box" class="rgb6 top" name="subscriberBox" value="订阅我们的邮件">
          <a id="subscriber-btn" href="javascript:void(0);" class="iconfont rgbf"></a>
        </div>
      </div>
    </div>
    <div class="footer-help">
      <div class="center-content clearfix">
        <div class="left">
          <ul class="clearfix">
            <li class="left">
              <p>
                <span>新手专区</span>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=25" target="_blank" rel="nofollow">注册登录</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=27" target="_blank" rel="nofollow">购物结算</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=29" target="_blank" rel="nofollow">下单支付</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=31" target="_blank" rel="nofollow">收货评价</a>
              </p>
            </li>
            <li class="left">
              <p>
                <span>会员中心</span>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=7" target="_blank" rel="nofollow">会员制度</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=9" target="_blank" rel="nofollow">会员优惠</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=11" target="_blank" rel="nofollow">账户管理</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=13" target="_blank" rel="nofollow">密码管理</a>
              </p>
            </li>
            <li class="left">
              <p>
                <span>购物指南</span>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=33" target="_blank" rel="nofollow">发票</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=35" target="_blank" rel="nofollow">尺码对照</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=37" target="_blank" rel="nofollow">尺码解读</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=39" target="_blank" rel="nofollow">商品咨询</a>
              </p>
            </li>
            <li class="left">
              <p>
                <span>支付方式</span>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=43" target="_blank" rel="nofollow">在线支付</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=45" target="_blank" rel="nofollow">货到付款</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=47" target="_blank" rel="nofollow">分期支付</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=105" target="_blank" rel="nofollow">优惠券、有货币</a>
              </p>
            </li>
            <li class="left">
              <p>
                <span>配送方式</span>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=109" target="_blank" rel="nofollow">配送说明</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=111" target="_blank" rel="nofollow">运费说明</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=113" target="_blank" rel="nofollow">验货签收</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=115" target="_blank" rel="nofollow">收货样品</a>
              </p>
            </li>
            <li class="left">
              <p>
                <span>售后服务</span>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=49" target="_blank" rel="nofollow">退换货政策</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=51" target="_blank" rel="nofollow">退换货流程</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=55" target="_blank" rel="nofollow">投诉与建议</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/service/client" target="_blank" rel="nofollow">在线客服</a>
              </p>
            </li>
            <li class="left">
              <p>
                <span>APP常见问题</span>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=57" target="_blank" rel="nofollow">IPhone版</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=59" target="_blank" rel="nofollow">Android版</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=61" target="_blank" rel="nofollow">wap版</a>
              </p>
              <p>
                <a href="//www.yohobuy.com/help/detail?id=63" target="_blank" rel="nofollow">IPAD版</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-link">
      <div class="center-content clearfix">
        <div class="left right-flag">
          <a class="govicon" href="http://odr.jsdsgsxt.gov.cn:8081/mbm/entweb/elec/certView?siteId=f2b6e3b8d18241afb8dd6cadf7f15406" target="_blank" rel="nofollow">
            <div class="govimg"></div>
          </a>
          <a href="https://ss.knet.cn/verifyseal.dll?sn=e14021832010046477dka7000000&amp;ct=df&amp;a=1&amp;pa=0.5902942178957805" target="_blank" rel="nofollow">
            <img src="//static.yohobuy.com/images/v3/icon/credit-flag3.png?imageView2/2/interlace/1/q/75">
          </a>
          <a href="http://www.isc.org.cn/" target="_blank" rel="nofollow">
            <img src="//static.yohobuy.com/images/v3/icon/isc2.png?imageView2/2/interlace/1/q/75">
          </a>
        </div>
        <div class="left about-us">
          <p>
            <a href="//www.yohobuy.com">返回首页</a>
            <span>|</span>
            <a href="//www.yohobuy.com/yohobuy.html">YOHO!BUY 有货</a>
            <span>|</span>
            <a href="//www.yohobuy.com/newpower.html" rel="nofollow">新力传媒</a>
            <span>|</span>
            <a href="//www.yohobuy.com/contact.html" rel="nofollow">联系我们</a>
            <span>|</span>
            <a href="//shop.yohobuy.com/settled" rel="nofollow">商家入驻</a>
            <span>|</span>
            <a href="//www.yohobuy.com/privacy.html" rel="nofollow">隐私条款</a>
            <span>|</span>
            <a href="//www.yohobuy.com/link.html">友情链接</a>
            <span>|</span>
            <a class="police" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32010502010132">
              苏公网安备 32010502010132号
            </a>
          </p>
          <p>
            CopyRight © 2007-2016 南京新与力文化传播有限公司
            <a class="rbg6" href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">苏ICP备09011225号</a>
            NewPower Co. 版权所有 经营许可证编号：苏B2-20120395
          </p>
        </div>

      </div>
    </div>
  </div>
  <div class="right-floating-layer" (click)="returnUp()">
    <div class="layer-box return-top">
      <img src="../../../assets/img/up.png" alt="">
    </div>
  </div>
</div>

