<div class="home-page yoho-page lifestyle">
  <div class="floor-header clearfix" floorid="">
    <h2 class="floor-title">居家CATEGORY</h2>
    <ul class="header-navs">
      <li data-classify="">
        <a target="_blank" href="https://list.yohobuy.com/?category_id=660">厨具</a>
      </li>
      <li data-classify="">
        <a target="_blank" href="https://list.yohobuy.com/?msort=1174&amp;misort=1550&amp;sort=1634&amp;title=雨伞">雨伞</a>
      </li>
      <li data-classify="">
        <a target="_blank" href="https://list.yohobuy.com/?category_id=554">家居饰品</a>
      </li>
      <li data-classify="">
        <a target="_blank" href="https://list.yohobuy.com/?category_id=674">杯子</a>
      </li>
      <li data-classify="">
        <a target="_blank" href="https://list.yohobuy.com/?msort=1178,1174">MORE</a>
      </li>
    </ul>
  </div>

  <div class="categorys-list imgopacity">
    <ul class="clearfix">
      <li class="cate-item0">
        <a href="https://list.yohobuy.com/?category_id=554" target="_blank" title="">
          <img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/19/13/0125c82232cc70243418c30b6e6c4ac840.jpg?imageView2/2/w/185/h/510" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/19/13/0125c82232cc70243418c30b6e6c4ac840.jpg?imageView2/2/w/185/h/510" style="display: block; opacity: 1;">
        </a>
      </li>
      <li class="cate-item1">
        <a href="https://list.yohobuy.com/?category_id=660" target="_blank" title="">
          <img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/19/13/01a61ede5618f92481f6abe77d3dce90ae.jpg?imageView2/2/w/377;/h/504;" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/19/13/01a61ede5618f92481f6abe77d3dce90ae.jpg?imageView2/2/w/377;/h/504;" style="display: block; opacity: 1;">
        </a>
      </li>
      <li class="cate-item2">
        <a href="https://myfun.yohobuy.com?shopId=1924" target="_blank" title="">
          <img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/01e4a9ba414b3e1e721e0ff0898c0a3fbc.jpg?imageView2/2/w/185/h/510" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/01e4a9ba414b3e1e721e0ff0898c0a3fbc.jpg?imageView2/2/w/185/h/510" style="display: block; opacity: 1;">
        </a>
      </li>
      <li class="cate-item3">
        <a href="https://blacklemon.yohobuy.com?shopId=36" target="_blank" title="">
          <img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/01fc631f87d94e5a89d01eec364cbffa2e.jpg?imageView2/2/w/185/h/510" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/01fc631f87d94e5a89d01eec364cbffa2e.jpg?imageView2/2/w/185/h/510" style="display: block;">
        </a>
      </li>
      <li class="cate-item4">
        <a href="https://sati.yohobuy.com?shopId=192" target="_blank" title="">
          <img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/012dc469dc4d5147dfddbcf07d3a1332a2.jpg?imageView2/2/w/185/h/510" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/012dc469dc4d5147dfddbcf07d3a1332a2.jpg?imageView2/2/w/185/h/510" style="display: block;">
        </a>
      </li>
      <li class="cate-item5">
        <a href="https://faroma.yohobuy.com?shopId=430" target="_blank" title="">
          <img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/016e2f4c91ebc966daa09b2dbf1c4a56bf.jpg?imageView2/2/w/185/h/510" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/016e2f4c91ebc966daa09b2dbf1c4a56bf.jpg?imageView2/2/w/185/h/510" style="display: block;">
        </a>
      </li>
      <li class="cate-item6">
        <a href="https://swell.yohobuy.com?shopId=1596" target="_blank" title="">
          <img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/01f2121aa5f9f15532a7d800530b3cc637.jpg?imageView2/2/w/185/h/510" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/01f2121aa5f9f15532a7d800530b3cc637.jpg?imageView2/2/w/185/h/510" style="display: block;">
        </a>
      </li>
      <li class="cate-item7">
        <a href="https://kalemei.yohobuy.com?shopId=1314" target="_blank" title="">
          <img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/018f5916c32ed4e9b6e0086bb4e1786e09.jpg?imageView2/2/w/185/h/510" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/018f5916c32ed4e9b6e0086bb4e1786e09.jpg?imageView2/2/w/185/h/510" style="display: block;">
        </a>
      </li>
    </ul>
  </div>
</div>
