<div class="home-page yoho-page lifestyle">
  <div class="floor-header clearfix" floorid="">
    <h2 class="floor-title">美妆 BEAUTY</h2>
    <ul class="header-navs">
      <li data-classify="">
        <a target="_blank" href="https://list.yohobuy.com/?category_id=161">彩妆</a>
      </li>
      <li data-classify="">
        <a target="_blank" href="https://list.yohobuy.com/?msort=1180&amp;misort=1536,1562,1598&amp;title=个人护理">个人护理</a>
      </li>
      <li data-classify="">
        <a target="_blank" href="https://list.yohobuy.com/?msort=1180&amp;misort=1658&amp;title=面部护肤">面部护肤</a>
      </li>
      <li data-classify="">
        <a target="_blank" href="https://list.yohobuy.com/?msort=1180&amp;misort=1474&amp;sort=1482&amp;title=香水">香水</a>
      </li>
      <li data-classify="">
        <a target="_blank" href="https://list.yohobuy.com/?category_id=23">MORE</a>
      </li>
    </ul>
  </div>

  <div class="categorys-list imgopacity">
    <ul class="clearfix">
      <li class="cate-item0">
        <a href="https://list.yohobuy.com/?category_id=161" target="_blank" title="">
          <img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/19/13/01ae149e8df764dd0b081779aef4bfaa71.jpg?imageView2/2/w/185/h/510" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/19/13/01ae149e8df764dd0b081779aef4bfaa71.jpg?imageView2/2/w/185/h/510" style="display: block; opacity: 1;">
        </a>
      </li>
      <li class="cate-item1">
        <a href="https://list.yohobuy.com/?category_id=158" target="_blank" title="">
          <img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/19/13/0163b420cc5d0d73d7bd1fc28e3ea3e32b.jpg?imageView2/2/w/377;/h/504;" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/19/13/0163b420cc5d0d73d7bd1fc28e3ea3e32b.jpg?imageView2/2/w/377;/h/504;" style="opacity: 1; display: block;">
        </a>
      </li>
      <li class="cate-item2">
        <a href="https://chettirouge.yohobuy.com?shopId=1970" target="_blank" title="">
          <img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/0161f9ad62ce31ed4d1e7781f74acffab7.jpg?imageView2/2/w/185/h/510" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/0161f9ad62ce31ed4d1e7781f74acffab7.jpg?imageView2/2/w/185/h/510" style="display: block;">
        </a>
      </li>
      <li class="cate-item3">
        <a href="https://maybelline.yohobuy.com?shopId=2054" target="_blank" title="">
          <img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/01d8b00a7ba86fd04f4b1d0e1b2307f1eb.jpg?imageView2/2/w/185/h/510" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/01d8b00a7ba86fd04f4b1d0e1b2307f1eb.jpg?imageView2/2/w/185/h/510" style="display: block;">
        </a>
      </li>
      <li class="cate-item4">
        <a href="https://become.yohobuy.com/" target="_blank" title="">
          <img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/013ffd3697558d89c97a015c4824f81773.jpg?imageView2/2/w/185/h/510" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/013ffd3697558d89c97a015c4824f81773.jpg?imageView2/2/w/185/h/510" style="display: block;">
        </a>
      </li>
      <li class="cate-item5">
        <a href="https://bossdunmen.yohobuy.com?shopId=2270" target="_blank" title="">
          <img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/0128d1506d9ed2a392ac2f5fe7cb8382c2.jpg?imageView2/2/w/185/h/510" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/23/09/0128d1506d9ed2a392ac2f5fe7cb8382c2.jpg?imageView2/2/w/185/h/510" style="display: block;">
        </a>
      </li>
      <li class="cate-item6">
        <a href="https://ziranzhiming.yohobuy.com/" target="_blank" title="">
          <img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/019a02f05e92e222c1e98369d11a1b38af.jpg?imageView2/2/w/185/h/510" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/019a02f05e92e222c1e98369d11a1b38af.jpg?imageView2/2/w/185/h/510" style="display: block;">
        </a>
      </li>
      <li class="cate-item7">
        <a href="https://demeter.yohobuy.com?shopId=2258" target="_blank" title="">
          <img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/01e6b4a526f9559fdd94937661e792cf58.jpg?imageView2/2/w/185/h/510" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/23/09/01e6b4a526f9559fdd94937661e792cf58.jpg?imageView2/2/w/185/h/510" style="display: block;">
        </a>
      </li>
    </ul>
  </div>
</div>
