<div class="home-page yoho-page girls">
  <div class="tpl-recommend clearfix">
    <div class="floor-header clearfix" floorid="">
      <h2 class="floor-title">欧美</h2>
      <ul class="header-navs">
        <li data-classify="">
          <a target="_blank" href="http://list.yohobuy.com/?gender=2,3&amp;msort=1">MORE</a>
        </li>
      </ul>
    </div>

    <div class="tpl-body clearfix">
      <div class="tpl-nav">
        <div class="tpl-keywords">
          <a class="keywords0" title="" href="http://vans.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/15/010f8d5f820417826c772fc2e4404d514d.jpg?imageView2/2/w/185/h/76" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/23/15/013bd41a285c8cc03ee2aaa586baa88f96.jpg?imageView2/2/w/185/h/76" style="display: block;"></a>
          <a class="keywords1" title="" href="http://chocoolate.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/15/016d28e18bc1cd9ca624a9b8f2647ec525.jpg?imageView2/2/w/185/h/76" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/23/15/018d95c98a8814b5420aef624dec4abb99.jpg?imageView2/2/w/185/h/76" style="display: block;"></a>
          <a class="keywords2" title="" href="http://qiumai.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/15/01436249d48c4dacffe1c1d272436edd0c.jpg?imageView2/2/w/185/h/76" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/23/15/01456e9e9a684007562ed09d913ae71671.jpg?imageView2/2/w/185/h/76" style="display: block;"></a>
        </div>

        <div class="tpl-category clearfix">
          <a href="https://list.yohobuy.com/?category_id=51&amp;gender=2,3" target="_blank">棉衣</a>
          <a href="https://list.yohobuy.com/?category_id=55&amp;gender=2,3" target="_blank">夹克</a>
          <a href="https://list.yohobuy.com/?category_id=54&amp;gender=2,3" target="_blank">卫衣</a>
          <a href="https://list.yohobuy.com/?category_id=1210&amp;gender=2,3" target="_blank">毛衣</a>
          <a href="https://list.yohobuy.com/?category_id=1208&amp;gender=2,3" target="_blank">风衣</a>
          <a href="https://list.yohobuy.com/?category_id=1220&amp;gender=2,3" target="_blank">大衣</a>
          <a href="http://list.yohobuy.com/?gender=2,3&amp;msort=1,3&amp;style=991,1107,989" target="_blank">运动风潮</a>
          <a href="http://list.yohobuy.com/?msort=1,3&amp;gender=2,3&amp;style=991,1097,997" target="_blank">暗黑街头</a>
          <a href="http://list.yohobuy.com/?msort=1,3&amp;gender=2,3&amp;style=1104,1102,1003,1096" target="_blank">日韩甜美</a>
          <a href="http://list.yohobuy.com/?gender=2,3&amp;msort=1" target="_blank">MORE</a>
          <a href="http://list.yohobuy.com/?gender=2,3&amp;msort=1" target="_blank"></a>
          <a href="http://list.yohobuy.com/?gender=2,3&amp;msort=1" target="_blank"></a>
        </div>
      </div>

      <div class="tpl-brands imgopacity clearfix">
        <a title="" href="https://list.yohobuy.com/?category_id=54&amp;gender=2,3" target="_blank"><img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/19/15/0116a1aec76299cdefbb1f72a8f123dd36.jpg?imageView2/2/w/377/h/504" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/19/15/0191fec5633da164b7dc5417da0c2eb905.jpg?imageView2/2/w/377/h/504" style="display: block; opacity: 1;"></a>
      </div>

      <div class="tpl-types imgopacity clearfix">
        <ul>
          <li><a title="" href="http://chocoolate.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/15/019a103221f61e394155ca29640628d3f8.jpg?imageView2/2/w/185/h/504" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/23/16/01f4898adc470db2366c8a9f1ba5169716.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
          <li><a title="" href="http://stayreal.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/15/01fb5d13df68c36729bcc4ae0ea2ca412e.jpg?imageView2/2/w/185/h/504" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/23/16/01fc67266c3c49373e89ef2bf420549d70.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
          <li><a title="" href="http://akop.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/15/01ad26bb7d9f9c0786e35a65a97a1778ed.jpg?imageView2/2/w/185/h/504" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/23/16/013e5bcc8928d173a1c939dcd8b0f6d650.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
          <li><a title="" href="http://cheapmonday.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/15/017965926b86f56e175a6508df58f84073.jpg?imageView2/2/w/185/h/504" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/23/16/012d7e6a36cdfb98b4048147b3a2447cb3.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
          <li><a title="" href="http://rococo.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img11.static.yhbimg.com/yhb-img01/2017/10/23/15/0190fc2b237b17f59559aa31071b23a800.jpg?imageView2/2/w/185/h/504" alt="" src="//img11.static.yhbimg.com/yhb-img01/2017/10/23/16/0117b76cc46fb20f2f9dc3f93cb792d50f.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
          <li><a title="" href="http://navel.yohobuy.com/?gender=2,3" target="_blank"><img class="lazy" data-original="//img10.static.yhbimg.com/yhb-img01/2017/10/23/15/017db9d8126a4b54f2749df819e0121818.jpg?imageView2/2/w/185/h/504" alt="" src="//img10.static.yhbimg.com/yhb-img01/2017/10/23/16/01e58e98906d4a5a422e732331a38c69a3.jpg?imageView2/2/w/185/h/504" style="display: block; opacity: 1;"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
