<div class="yoho-header boys">

  <div class="head-wrapper clearfix">
    <div class="center-content">

      <div class="main-logo logo-cn"><a href="//www.yohobuy.com/" class="main-link"></a></div>

      <ul class="main-nav-list">
        <li class="boys cure" routerLink='/index'>
          <h5 class="name-cn">
            <a>男生</a>
          </h5>
          <h5 class="name-en">
            <a>BOYS</a>
          </h5>
        </li>
        <li class="girls" routerLink='/girls'>
          <h5 class="name-cn">
            <a>女生</a>
          </h5>
          <h5 class="name-en">
            <a>GIRLS</a>
          </h5>
        </li>
        <li class="kids" routerLink='/kids'>
          <h5 class="name-cn">
            <a>潮童</a>
          </h5>
          <h5 class="name-en">
            <a>KIDS</a>
          </h5>
        </li>
        <li class="lifestyle" routerLink='/lifestyle'>
          <h5 class="name-cn">
            <a>创意生活</a>
          </h5>
          <h5 class="name-en">
            <a>LIFE STYLE</a>
          </h5>
        </li>
      </ul>
      <div class="func-area">
        <ul class="search-suggest"></ul>
        <ul class="search-suggest-history" style="display: none;"></ul>
        <div class="search-2016">
          <form action="//search.yohobuy.com" method="get" id="search-form">
            <input type="hidden" id="defaultsearch" value="CHUMS 下单立享7折!">
            <input class="search-key" type="text" name="query" id="query-key" autocomplete="off" x-webkit-speech="" lang="zh-CN" x-webkit-grammar="builtin:translate" value="" maxlength="30" style="color: rgb(153, 153, 153);">
            <a class="search-btn" href="javascript:submitSearch();"></a>
          </form>
          <ul class="search-hot">
            <li>
              <a style="display: block;" href="//search.yohobuy.com?query=dickies" title="dickies" act="//search.yohobuy.com?query=dickies" target="_blank">
                <span class="searchvalue">dickies</span>
              </a>
            </li>
            <li>
              <a style="display: block;" href="//search.yohobuy.com?query=stayreal" title="stayreal" act="//search.yohobuy.com?query=stayreal" target="_blank">
                <span class="searchvalue">stayreal</span>
              </a>
            </li>
            <li>
              <a style="display: block;" href="//search.yohobuy.com?query=%E6%89%8B%E6%9C%BA%E5%A3%B3" title="手机壳" act="//search.yohobuy.com?query=%E6%89%8B%E6%9C%BA%E5%A3%B3" target="_blank">
                <span class="searchvalue">手机壳</span>
              </a>
            </li>
            <li>
              <a style="display: block;" href="//search.yohobuy.com?query=%E5%B8%BD%E5%AD%90" title="帽子" act="//search.yohobuy.com?query=%E5%B8%BD%E5%AD%90" target="_blank">
                <span class="searchvalue">帽子</span>
              </a>
            </li>
            <li>
              <a style="display: block;" href="//search.yohobuy.com?query=vans" title="vans" act="//search.yohobuy.com?query=vans" target="_blank">
                <span class="searchvalue">vans</span>
              </a>
            </li>
            <li>
              <a style="display: block;" href="//search.yohobuy.com?query=%E4%BC%91%E9%97%B2%2F%E8%BF%90%E5%8A%A8%E9%9E%8B" title="休闲/运动鞋" act="//search.yohobuy.com?query=%E4%BC%91%E9%97%B2%2F%E8%BF%90%E5%8A%A8%E9%9E%8B" target="_blank">
                <span class="searchvalue">休闲/运动鞋</span>
              </a>
            </li>
            <li>
              <a style="display: block;" href="//search.yohobuy.com?query=adidas%20Originals" title="adidas Originals" act="//search.yohobuy.com?query=adidas%20Originals" target="_blank">
                <span class="searchvalue">adidas Originals</span>
              </a>
            </li>
            <li>
              <a style="display: block;" href="//search.yohobuy.com?query=BOY%20LONDON" title="BOY LONDON" act="//search.yohobuy.com?query=BOY%20LONDON" target="_blank">
                <span class="searchvalue">BOY LONDON</span>
              </a>
            </li>
            <li>
              <a style="display: block;" href="//search.yohobuy.com?query=%E8%A1%AC%E8%A1%AB" title="衬衫" act="//search.yohobuy.com?query=%E8%A1%AC%E8%A1%AB" target="_blank">
                <span class="searchvalue">衬衫</span>
              </a>
            </li>
            <li>
              <a style="display: block;" href="//search.yohobuy.com?query=stussy" title="stussy" act="//search.yohobuy.com?query=stussy" target="_blank">
                <span class="searchvalue">stussy</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-wrapper clearfix">
    <div class="center-content">
      <ul class="sub-nav-list boys cure">
        <li>
          <a href="//list.yohobuy.com/boys-new/">新品到着
          </a>
        </li>
        <li>
          <a href="//www.yohobuy.com/boys-brands/">品牌一览
          </a>
        </li>
        <li class="">
          <a href="">服饰
          </a>
        </li>
        <li class="">
          <a href="">鞋履
          </a>
        </li>
        <li class="">
          <a href="">包袋
          </a>
        </li>
        <li class="">
          <a href="">配饰 · 其他
          </a>
        </li>
        <li>
          <a href="//guang.yohobuy.com/boys/">逛
          </a>
        </li>
        <li>
          <a href="//www.yohobuy.com/product/boys-sale/">SALE
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
